precheck_results

# Waveform files
*.vcd
*.fst
*.gtkw
*.surf.ron



# Iverilog files
*.vvp

# Firmware files
*.hex
*.elf


# Compiledb-plus database
compile_commands.json

# Others
.envrc
*.bak

.vscode/